<h1>User Info</h1>

<h1>Welcome to the Travel Note Taking App, <%= @user.name %>!!</h1>

<br>
<%= link_to "See all destinations", destinations_path %>
<br>
<%= link_to "Make New Note", new_note_path %>