<% if @errors == "blank" %>
    <h2>Destination Can't Be Blank!!  Please try again!!</h2>
<% elsif @errors == "both" %>
    <h2>Please choose menu option or new destination option, not both!!</h2>
<% end %>

<h1>Make a New Destination Or Note for Existing Destination</h1>

<%= form_for @destination do |f| %>
    <h3>Choose from an existing destination: </h3>
    <%= f.collection_select :id, @destinations, :id, :name, :include_blank => true %>
    <br>
        <h4>Or create a new destination: </h4>
        <%= f.text_field :name, placeholder: "Destination Name" %>
        <br>
        <br>
    <%= f.submit "Create Note/Destination" %>
<% end %>