<h1>Destination:</h1>
<h2><%= @destination.name %></h2>

<!-- maybe destination.picture -->

<%= link_to "Make a Note for this Destination", new_destination_note_path(@destination) %>
<br>
<br>
<%= link_to "All Destinations", destinations_path %>